.cascading-right {
    margin-left: -50px;
}

@media (max-width: 992px) {
    .cascading-right {
        margin: auto;
    }
}

.card-container {
    width: 18rem;
    transition: .3s all ease;
}

.card-container img {
    transition: .3s all ease;
}

.card-container:hover img {
    transform: scale(1.1) rotateY(10deg) rotateX(10deg);
    box-shadow: -11px 10px 17px 0px rgba(158, 158, 158, 1);
}

li {
    list-style-type: none;
}

#register .cascading-right {
    margin-right: -50px;
}

@media (max-width: 992px) {
    #register .cascading-right {
        margin-right: 0;
    }
}